/* Color palette used -
http://www.color-hex.com/color-palette/55871 */
@import url("https://fonts.googleapis.com/css?family=Teko|Roboto:300,400");

:root {
    --m: #171717;
    --m2: #1D1D1D;
    --m3: #2196F3;
}


html {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--m);
    background-image: url(https://cdn.discordapp.com/attachments/185046628732895232/204497752091000832/bg3.svg);
    background-size: 50%;

}

body {
    font-family: "Roboto", sans-serif;
    padding: 40px 30px 20px;
    text-align: center;
    margin: auto;
    color: #e2e0db;
}

body p {
    margin: 0px;
}

h1,
h2 {
    font-family: "Teko", sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px 0px -20px;
}

.input-number-wrapper {
    margin: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-number-wrapper input,
.input-number-wrapper button {
    border: 1px solid var(--m3);
    outline: none;
    font-family: "Roboto", sans-serif;
}

.input-number-wrapper input {
    padding: 7px;
    background-color: var(--m);
    color: #e2e0db;
}

.input-number-wrapper button {
    background-color: var(--m2);
    color: #e2e0db;
    font-size: 8px;
    padding: 0px 8px;
    transition: all .5s ease;
}

.input-number-wrapper button:hover,
.input-number-wrapper button:active,
.input-number-wrapper button:focus {
    outline: none;
}

.input-number-wrapper button:hover {
    background-color: var(--m3);
    cursor: pointer;
}

.input-number-wrapper button:active {
    padding: 0px 8px;
    background-color: var(--m3);
}

.input-number-wrapper button.decrease {
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
}

.input-number-wrapper button.increase {
    border-radius: 0px 3px 3px 0px;
    border-left: 0px;
}



.container {
    max-width: 640px;
    font-size: 13px;

}

ul.ks-cboxtags {
    list-style: none;
    /* padding: 20px; */
    text-align: center;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: var(--m2);
    border: 2px solid var(--m3);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid var(--m2);
    background-color: var(--m3);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.btn {
    display: inline-block;
    background-color: var(--m2);
    border: 2px solid var(--m3);
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px 0px;
    padding: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    color: #e2e0db;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .5s ease;
    font-family: "Roboto", sans-serif;
}

.btn:hover {
    border: 2px solid var(--m2);
    background-color: var(--m3);
}

#result {
    display: none;
    margin-top: 30px;
}

#result textarea {
    font-family: "Roboto", sans-serif;
    background-color: var(--m2);
    border: 2px solid var(--m3);
    margin: 20px auto 0;
    border-radius: 5px;
    color: #e2e0db;
    outline: none;
}

/* 
#result textarea:focus {
    border: 2px solid var(--m2);
    background-color: var(--m3);
} */